/* Login button */
body {
    font-family: 'Roboto', sans-serif;
}

.login{
    background-color: #f8f8f8;
    padding: 2px 50px;
    border-radius: 4px;
    border: 1px solid #d0cdc5;
}
.login:hover {
    background-color: white;
}

.footer {
    color: white;
    background-color: #0077F7;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 12px;
}

.footer p {
    margin: 0;
}

.col-sm-9 {
    min-height: 550px;
}

.main{
    min-height: 550px;
}